*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* navbar section */
nav{
    border:1px solid black;
    width: 80%;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navList ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav .navList ul li{
    list-style: none;
    color: black;
}

nav button{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
}