*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* navbar section */
nav{
    /* border:1px solid black; */
    width: 80%;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navList ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav .navList ul li{
    list-style: none;
    color: black;
}

nav button{
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
}

/* hero section */
.heroSection{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
}
.hero{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 120px 125px 0;
    /* border: 1px solid black; */
}
.hero h3{
    font-size: 16px ;
    font-weight: 500;
    background:#fff;
    display: inline;
    padding: 8px 12px;
    border-radius: 100px;
    color: #30B868;
}
.hero h1{
    font-size: 72px ;
    font-weight: 700;
    margin-top: 16px;
    color: rgba(255, 255, 255, 1);
}
.hero h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero p{
    font-size: 18px ;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    width: 61%;
    margin: 20px auto;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    margin: 20px 5px ;
    padding: 12px 16px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    text-align: center;
}
.btn button img{
    /* padding-bottom: -20px; */
    margin-bottom: -5px;
}

#secondbtn{
    border:1px solid rgba(255, 255, 255, 1); ;
    border-radius: 4px;
    background-color: transparent;
}

/* Seceond Section */
.secondHero{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    /* border: 1px solid black; */
}
.secondHero h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}
.secondHero p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin: 10px 0px 25px 0px;
}
.cardAll{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardAll .card{
    
    width: 295px;
    height: 220px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.cardAll img{
    background-color:rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 50%;
}



/* third section */

.thirdHero{
    width: 80%;
    margin: 120px auto;
    text-align: center;
    /* border: 1px solid black;  */
}
.theSolution{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightpat {
    text-align: start;
}
.rightpat h3 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    text-transform: uppercase;
}
.rightpat h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin: 10px 0 20px 0;
}
.rightpat p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
.rightpat ul{
    
    margin: 25px 0 10px 0;
    
}
.rightpat ul li{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 49, 1);
    list-style-type: none;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}
